[data-bs-theme="myDark"] {
    body {
        background-color: #343a40;
    }
    .card, .list-group-item {
        background-color: #e0e4e7;
    }
    .bg-dark, .btn-dark, .btn-secondary {
        background-color: #596FB7 !important;
    }
    h3 {
        color: #f8f9fa;
    }
}
